[submodule "minicap"]
	path = minicap
	url = https://github.com/openstf/minicap/
[submodule "minitouch"]
	path = minitouch
	url = https://github.com/openstf/minitouch/
[submodule "evtest"]
	path = evtest
	url = git://anongit.freedesktop.org/evtest
